<style>
/* et-bembo-regular */
@font-face {
    font-display: swap;
    font-family: 'ET Bembo';
    font-style: normal;
    font-weight: 400;
    src: url('/font/et-book-roman-line-figures.woff') format('woff');
}
/* et-bembo-italic */
@font-face {
    font-display: swap;
    font-family: 'ET Bembo';
    font-style: italic;
    font-weight: 400;
    src: url('/font/et-book-display-italic-old-style-figures.woff') format('woff');
}
/* et-bembo-semibold */
@font-face {
    font-display: swap;
    font-family: 'ET Bembo';
    font-style: normal;
    font-weight: 600;
    src: url('/font/et-book-semi-bold-old-style-figures.woff') format('woff');
}
/* et-bembo-bold */
@font-face {
    font-display: swap;
    font-family: 'ET Bembo';
    font-style: normal;
    font-weight: 700;
    src: url('/font/et-book-bold-line-figures.woff') format('woff');
}
/* merriweather-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('/font/merriweather-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('/font/merriweather-v33-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 500;
    src: url('/font/merriweather-v33-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-500italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 500;
    src: url('/font/merriweather-v33-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
</style>
